<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Tracker</title>
</head>
<body>
    <div>
        <h2>Crypto Tracker & Alert</h2>
        <form action="/track" method="post">
            <input type="text" name="coins" placeholder="Example: Bitcoin, Ethereum, Solana" required >
            <button type="submit">Track Prices</button>
        </form>
    </div>
</body>
</html>